.container{
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: darkseagreen;
    width: 90%;
    font-size: 14px;

}


.text{
    color: dimgrey;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    text-decoration-line: underline;

}